body {
  font-family: Arial, sans-serif;
  background-image:url("kepek/cool-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
a {
  width: auto;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;

}
#row {
  display: flex;

}

.column {
  flex: 33.33%;
  padding: 5px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

li {
  float: left;
  border-right:2px solid 	#7fcdff;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: 	#7fcdff;
}

.active {
  background-color: #04AA6D;
}
.menu {
  width: 807px;
  height: 65.19px;
}
h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}

h1 {
  position: relative;
  font-size: 40px;
}
#box {
  background-color:lightblue;
  padding: 20px;
  margin-left: 150px;
  width: 300px;
  height: 280px;
  outline: 10px solid black;
  border-radius: 20px;
}
.kep1 {
  margin-left: 1400px;
  margin-top: -500px;
}
.kep2 {
  margin-left: 800px;
  margin-top: -700px;
}
#video {
  width: 700px;
  height: 394px;
  margin-left: 1000px;
  margin-top: -170px;
}
.kep3 {
  margin-left: 1300px;
  margin-top: -180px;
}
.kep4 {
  margin-left: 600px;
  margin-top: -495px;
}
#tablazat {
  margin-left: 60px;
  margin-top: 80px;
}
.box2 {
  background-color:lightblue;
  padding: 20px;
  margin-left: 1400px;
  width: 300px;
  height: 280px;
  outline: 10px solid black;
  border-radius: 20px;
}
.kep5 {
  margin-left: 700px;
  margin-top: -400px;
}
#hirlevel {
  background-color:lightblue;
  padding: 20px;
  margin-left: 150px;
  margin-top: 100px;
  width: 300px;
  height: 140px;
  outline: 10px solid black;
  border-radius: 20px;
}